@import "../../styles/variables.scss";

#header {
    width: 99%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;

    .description {
        width: 75%;
    }
    .homeBtn {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: $tabletBreakpoint) {
    #header {
        height: 95vh;
    }
}