@import "./styles/main.scss";

/* Font Sizes */

p {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 200;
}
h2 {
  font-size: 2.375rem;
  font-weight: 400;
  line-height: 150%;
  color: #e85a4f;
}
h3 {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 400;
  color: #e85a4f;
}
.clientTitle {
  font-size: 0.75rem;
  font-weight: 200;
  line-height: 150%;
}

/* section title css line  */
.titleContainer {
  display: flex;
  align-items: center;
}
.sectionTitle {
  margin: 0 10px;
}
.sectionNumber {
  margin-right: 10px;
}
.line {
  flex: 1;
  border-bottom: 1px solid #e98074;
  /* margin: 0 10px; */
}

/* Media queries */

@media (max-width: 767px) {
  body {
    margin: 0 20px;
  }
}
