@import "../../styles/variables.scss";

#work-experience {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: auto;
    align-items: center;

    .workContainer {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        margin: 40px 0;

        .company {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            list-style-type: none;
            margin-left: 20px;
            min-width: 200px;
            
            .companyName {
                padding: 10px 0;
                cursor: pointer;
                width: fit-content;
            }
            .active {
                color: $hoverColor;
            }
            .companyName:hover {
                color: $hoverColor;
            }
        }

        .jobDescription {
            display: flex;
            flex-direction: column;
            gap: 10px;
            // margin-right: 20px;
            
            .title {
                color: $textColor;
                .role {
                    color: $hoverColor;
                }
            }
            .descriptionBulletPoint {
                display: flex;
                gap: 15px;
                padding: 10px 0;
                list-style-type: none;
            }
        }
    }
}

@media (max-width: $tabletBreakpoint) {
    #work-experience {
        .workContainer {
            flex-direction: column;
            gap: 25px;
            margin: 30px 0;
            width: 100%;
            padding: 0 20px;
            
            .company {
                flex-direction: row;
                gap: 10px;
                overflow-x: scroll;
                // width: auto;
                    /* Adjust width as needed */
                    // padding: 0 20px;
                    /* Add padding to the sides */
                .companyName {
                    text-align: center;
                    white-space:  nowrap;
                    padding: 0 15px 10px 15px;
                }
            }
        }
    }
    
}
@media (max-width: $mobileBreakpoint) {
    #work-experience {
        .workContainer{
            padding: 0 15px;
            .company{
                .companyName{
                    font-size: $fontSizeTablet;
            }
        }
        }
    }
}

