#mainContentContainer {
    border: 1.25px solid black;
    margin: 35px 0;
}
.portfolioHeader {
    margin-left: 2em;
}
.headerName {
    /* margin: .4em 0 0 .5em; */
    font-size: 60px;
    font-weight: 200;
}
.role {
    font-size: 16px;
    line-height: 150%;
}